#navbar-toggler-icon {
    -moz-transition: all 150ms linear;
    -webkit-transition: all 150ms linear;
    transition: all 150ms linear;
}

.icon-home {
    color: #db522a;
}

.icon-bug {
    color: #4bb351;
}

.icon-meteor {
    color: orangered;
}
.icon-info {
    color: #4880ff;
}

.icon-terminal {
    color: #16a50e;
}

.icon-map-marker {
    color: #ea4335;
}

.icon-star {
    color: gold;
}

.icon15 {
    font-size: 15px;
}

.icon20 {
    font-size: 20px;
    -moz-transition: all 150ms linear;
    -webkit-transition: all 150ms linear;
    transition: all 150ms linear;
}

.icon24 {
    font-size: 24px;
}

.icon30 {
    font-size: 30px;
}

.icon26 {
    font-size: 26px;
}

.icon-black {
    color: #000000;
}