@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap');


body {
    background-color: #fcfcfc;
}

nav {
    background-color: #fff;
}

#brand {
    cursor: pointer;
}

.avatar-large {
    width: 190px;
    height: 190px;
}

.full-name {
    font-size: 40px;
}

.description {
    font-size: 19px;
    font-family: 'Noto Sans HK', sans-serif;
    color: #535e66;

}

.nav-link {
    font-size: 17px;
    -webkit-user-select: none;
    user-select: none;
}

.nav-item {
    padding: 0 10px;
    border-radius: 20px;
    cursor: pointer;
}
.nav-item:hover {
    background-color: #f9f9f9;
}

.location {
    margin-left: 10px;
}

.social-link {
    color: black;
    font-size: 22px;
    padding: 11px;
    margin-top: 40px;
    white-space: nowrap;
    border-radius: 10px;
}

.social-link:hover {
    text-decoration: none;
    color: #1c1c1c;
    background-color: #f5f5f5;
}

.activity-card {
    text-align: center;
    margin: 10px;
    padding: 15px;
    box-shadow:0 .125rem .25rem rgba(0,0,0,.075);
    min-width: 250px;

    min-height: 100px;

}

.act-title {
    font-size: 35px;
}

.act-line-2 {
    font-size: 18px;
}

.act-line-3 {
    font-size: 16px;
}

.act-date {
    margin-top: 5px;
    font-size: 15px;
    color: #6c757d;
}
.act-follower-avatar {
    width: 25px;
    height: 25px;
}

.lang-tag {
    font-size: 12px;
    margin-left: 2px;
    padding: 3px 7px;
    border-radius: 10px;
    color: white;
}

.archived {
    font-size: 12px;
    margin-left: 0;
    padding: 3px 7px;
    border-radius: 10px;
    color: white;
    background-color: #D9D291;
}

.contributions-img {
    width: 100%;
    height: 100%;
}

.repo-card {
    margin: 10px;
    padding: 15px;
    box-shadow:0 .125rem .25rem rgba(0,0,0,.075);
    min-width: 300px;
    min-height: 100px;
}

.repo-name {
    font-size: 18px;
}

.ff-monospace {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}