.Python {
    background-color: #3572a5;
}

.HTML {
    background-color: #e34c26;
}

.JavaScript {
    background: #f1e05a;
}

.CSS {
    background-color: #563d7c;
}

.Java {
    background-color: #b07219;
}

.PHP {
    background-color: #4f5d95;
}

.Ruby {
	background-color: #701516;
}

.Go {
	background-color: #00add8;
}

.TypeScript {
	background-color: #2b7489;
}
